body {
    background-image: url("../assets/images/intersection.png");
    background-repeat: repeat;
    background-color: red;
}
/*
header {

} 
nav {

}
ul {

}
#main {

}
h1 {

}
hr {

}
img {

}
p{

}
#foot{

}
footer{

}
form{

}
input{

}
textarea{

}
#gallery{

}
#desc{

}